.mainDevices {
    position: fixed; /* Keeps the page fixed in place */
    background-color: rgba(105, 105, 105, 0.5); /* colour of the main element */
    border-bottom-right-radius: 25px; /* add radius to the bottom and top right corners */
    border-top-right-radius: 25px;
    padding: 40px; /* padding inside the main element */
    margin-top: 3vw; /* margin on the top and left of the main element */
    margin-left: 26vw;
    color: rgb(255, 255, 255); /* text colour */
    border-top: 2px solid rgba(240, 240, 240, 0.5); /* border on the top, bottom and right of the main element */
    border-bottom: 2px solid rgba(240, 240, 240, 0.5);
    border-right: 2px solid rgba(240, 240, 240, 0.5);
    width: 71vw; /* width of the main element */
    height: 85vh; /* height of the main element */
    display: flex; /* set up a flexible layout in the main element */
    flex-direction: column; /* put content vertically */
  }
  
  .headerDevices {
    display: flex; /* set up a flexible layout in the header */
    justify-content: space-between; /* even spacing between elements */
    margin-bottom: 10px; /* margin at the bottom of the header */
  }
    
  .navButtonDevices {
    background-color: rgba(255, 255, 255, 0.2); /* colour of the button */
    color: white; /* colour of the text in the button */
    border: none; /* remove the border on the button */
    border-radius: 10px; /* round the corners of the button */
    cursor: pointer; /* change cursor when hovering */
    width: 40px; /* width of button */
    height: 40px; /* height of button */
    display: flex; /* set up a flexible layout in the button */
    align-items: center; /* centre the content in the button */
    justify-content: center;
  }
  
  .contentRowDevices {
    display: flex; /* set up a flexible layout in the content row */
    justify-content: space-between; /* even space between elements */
    gap: 20px; /* between the columns in the upper half */
  }
  
  .leftSectionDevices {
    display: flex; /* set up a flexible layout in the left column of the content row */
    flex-direction: column; /*stack elements vertically */
  }
  
  .rightSectionDevices {
    display: flex; /* set up a flexible layout in the right column of the content row */
    flex-direction: column; /*stack elements vertically */
  }
  
  .blockColumnDevices {
    display: grid; /* set up a grid layout in the block columns */
    gap: 2px; /* gap between blocks vertically */
  }
  
  .blockDevices {
    background-color: rgba(35, 35, 35, 0.5); /* block colour */
    width: 450px; /* block width */
    height: 50px; /* block height */
    display: flex; /* set up a flexible layout in the block */
    justify-content: center; /* centre the content within the block */
    align-items: center;
  }
  
  .topBlockDevices {
    border-top-left-radius: 10px; /* round the top corners of the top blocks */
    border-top-right-radius: 10px;
    display: flex; /* set up a flexible layout in the top block */
    justify-content: center; /* centre the content within the block */
    align-items: center;
  }
  
  .bottomBlockDevices {
    border-bottom-left-radius: 10px; /* round the bottom corners of the bottom blocks */
    border-bottom-right-radius: 10px;
    display: flex; /* set up a flexible layout in the top block */
    justify-content: center; /* centre the content within the block */
    align-items: center;
  }
  
  .scrollBlockDevices {
    background-color: rgba(35, 35, 35, 0.5); /* colour of messages blocks */
    width: 700px; /* width of messages blocks */
    height: 50px; /* height of messages blocks */
    display: flex; /* set up a flexible layout in the blocks */
    justify-content: center; /* centre the content in the blocks */
    align-items: center;
  }
  
  .bottomSectionDevices {
    position: relative; /* fix position of pie chart */
    display: flex; /* set up a flexible layout in the bottom section */
  }
  
  .headingsDevices {
    margin-bottom: 10px; /* margin at the bottom of the headings */
  }
  