.mainProfile {
    position: fixed; /* keeps the page fixed in place */
    background-color: rgba(105, 105, 105, 0.5); /* colour of the main element */
    border-bottom-right-radius: 25px; /* add radius to the bottom and top right corners */
    border-top-right-radius: 25px;
    padding: 40px; /* padding inside the main element */
    margin-top: 3vw; /* margin on the top and left of the main element */
    margin-left: 26vw;
    color: rgb(255, 255, 255); /* text colour */
    border-top: 2px solid rgba(240, 240, 240, 0.5); /* border on the top, bottom and right of the main element */
    border-bottom: 2px solid rgba(240, 240, 240, 0.5);
    border-right: 2px solid rgba(240, 240, 240, 0.5);
    width: 71vw; /* width of the main element */
    height: 85vh; /* height of the main element */
    display: flex; /* set up a flexible layout in the main element */
    flex-direction: column; /* sets up content vertically */
    gap: 10px; /* gap between sections in the main */
  }
  
  .profileHeader {
    display: flex; /* set up a flexible layout in the header */
    justify-content: space-between; /* even spacing between elements */
    margin-bottom: 10px; /* margin at the bottom of the header */
  }
  
  .navButtonProfile {
    background-color: rgba(255, 255, 255, 0.2); /* colour of the button */
    color: white; /* colour of the text in the button */
    border: none; /* remove the border on the button */
    border-radius: 10px; /* round the corners of the button */
    cursor: pointer; /* change cursor when hovering */
    width: 40px; /* width of button */
    height: 40px; /* height of button */
    display: flex; /* set up a flexible layout in the button */
    align-items: center; /* centre the content in the button */
    justify-content: center;
  }

  .navButtonProfile:hover {
    background-color: rgba(255, 255, 255, 0.4); /* Slightly lighter on hover */
  }
  
  .bottomSectionProfile {
    display: flex; /* set up a flexible layout in the bottom section */
    justify-content: space-between; /* even space between elemetns in the bottom section */
    margin-top: auto; /* push bottom section to the bottom */
  }
  
  .actionButtonProfile {
    background-color: rgba(35, 35, 35, 0.5); /* background colour of buttons at the bottom */
    color: white; /* text colour in the buttons */
    border-radius: 10px; /* round corners of the buttons */
    border: none; /* remove border on the buttons */
    cursor: pointer; /* change cursor to pointer when hovering over */
    width: 49%; /* width of buttons */
    height: 45px; /* height of buttons */
    display: flex; /* set up a flexible layout in the button */
    justify-content: center; /* centre the content in the button */
    align-items: center; 
  }

  .actionButtonProfile:hover {
    background-color: rgba(0, 0, 0, 0.5); /* background colour of buttons at the bottom */
  }  

  .blockPro {
    background-color: rgba(35, 35, 35, 0.5); /* colour of blocks */
    width: 100%; /* width of blocks */
    height: 45px; /* height of blocks */
    display: flex; /* set up a flexible layout in the blocks */
    justify-content: space-between; /* centre content in the blocks */
    align-items: center;
    padding: 20px;
    cursor: pointer;
  }

  .blockPro1 {
    background-color: rgba(35, 35, 35, 0.5); /* colour of blocks */
    width: 100%; /* width of blocks */
    height: 45px; /* height of blocks */
    display: flex; /* set up a flexible layout in the blocks */
    justify-content: space-between; /* centre content in the blocks */
    align-items: center;
    padding: 20px;
  }

  .blockPro:hover {
    background-color: rgba(0, 0, 0, 0.5); /* colour of blocks */
  }
  
  .topBlockProfile {
    border-top-left-radius: 10px; /* round top corners of the top blocks */
    border-top-right-radius: 10px;
  }
  
  .bottomBlockProfile {
    border-bottom-left-radius: 10px; /* round bottom corners of the bottom blocks */
    border-bottom-right-radius: 10px;
  }
  
  .profileColumns {
    display: grid; /* set up a grid layout in the columns of blocks */
    gap: 2px; /* gap between blocks vertically */
    margin-bottom: 20px; /* margin below each column of blocks */
  }
  
  .headingsProfile {
    margin-left: 10px; /* indent headings */
    margin-bottom: 10px; /* space below headings */
  }
  
  .navButtonProfile img {
    width: 100%;
    height: 100%;
  }

  .userDetails {
    color: rgb(200, 200, 200);
  }

  /* popUp Overlay (Background) */
.popUpOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Dark background */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* popUp Content */
.popUpContent {
  border: 2px solid rgba(240, 240, 240, 0.5); /* border on the top, bottom and right of the main element */
  background-color: rgba(105, 105, 105, 0.5); /* colour of the main element */
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
}

/* popUp Input */
.popUpInput {
  width: 100%;
  height: 35px;
  padding-left: 20px;
  margin: 10px 0;
  background-color: rgba(35, 35, 35, 0.5);
  color: white;
  border-radius: 50px;
  border: none;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.5);
  outline: none;
  font-size: 16px;
}

/* popUp Buttons */
.popUpButtons {
  display: flex;
  justify-content: space-between;
}

.popUpButton {
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 48%;
  height: 35px;
  border: none;
  background-color: rgba(35, 35, 35, 0.5); /* background colour of buttons at the bottom */
  border-radius: 10px;
}

.popUpButton:hover {
  background-color: rgba(0, 0, 0, 0.5); /* background colour of buttons at the bottom */
  cursor: pointer;
}

.popUpPara {
  margin-top: 10px;
}