/* Main Container */
.container {
  display: flex;
  height: 0vh;
  width: 0vw;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
}

/* Settings Main Section */
.settings-main {
  position: fixed;
  background-color: rgba(105, 105, 105, 0.5);
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  padding: 40px;
  top: 3vw;
  right: 3vw;
  left: 26vw;
  color: rgb(255, 255, 255);
  border-top: 2px solid rgba(240, 240, 240, 0.5);
  border-bottom: 2px solid rgba(240, 240, 240, 0.5);
  border-right: 2px solid rgba(240, 240, 240, 0.5);
  width: 71vw;
  height: 85vh;
}

/* Settings Layout */
.settings-columns {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  gap: 50px;
}

.settings-left, .settings-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 48%;
}

/* Titles */
.settings-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Buttons */
button {
  display: flex;
  justify-content: space-between;
  text-align: left;
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  background-color: rgba(35, 35, 35, 0.5);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

button .arrow {
  margin-left: 10px;
}

button:hover {
  background-color: black;
}

/* Button Spacing and Styling */
.no-gap {
  margin-bottom: -10px;
  border-radius: 0;
}

.no-gap1 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: -10px;
}

.no-gap2 {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 0;
}

.individual-button {
  width: 100%;
}

.help-button button {
  margin-top: 18px;
}

.sign-out-button button {
  display: block;
  text-align: center;
  margin-top: 10px;
}

.change-user-button button {
  display: block;
  text-align: center;
  margin-top: 12.5px;
}

/* Toggle Switch */
.toggle-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.toggle-switch {
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-switch.on {
  background-color: rgba(110,220,95,255);
}

.toggle-switch.off {
  background-color: rgba(219,219,219,255);
}

.toggle-thumb {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: transform 0.3s;
}

.toggle-switch.on .toggle-thumb {
  transform: translateX(20px);
}

.toggle-switch.off .toggle-thumb {
  transform: translateX(0);
}

/* Top Buttons */
.previousPage,
.profilePage {
  position: absolute;
  top: 20px;
  padding: 10px;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.previousPage {
  left: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
  border: none;
  cursor: pointer;
}

.profilePage {
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profilePage img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}