/* Stats.css */

/* Main stats container */
.mainStats {
  position: fixed; /* Keep the page content in place */
  background-color: rgba(105, 105, 105, 0.5); /* Color of the main element */
  border-bottom-right-radius: 25px; /* Add radius to the bottom and top right corners */
  border-top-right-radius: 25px;
  padding: 40px; /* Padding inside the main element */
  margin-top: 3vw; /* Margin on the top and left of the main element */
  margin-left: 26vw;
  color: rgb(255, 255, 255); /* Text color */
  border-top: 2px solid rgba(240, 240, 240, 0.5); /* Border on the top, bottom, and right of the main element */
  border-bottom: 2px solid rgba(240, 240, 240, 0.5);
  border-right: 2px solid rgba(240, 240, 240, 0.5);
  width: 71vw; /* Width of the main element */
  height: 85vh; /* Height of the main element */
}

.statsHeader {
  display: flex; /* Set up a flexible layout in the header */
  justify-content: space-between; /* Even spacing between elements */
  margin-bottom: 10px; /* Margin at the bottom of the header */
}

.navButtonStats {
  background-color: rgba(255, 255, 255, 0.2); /* Color of the button */
  color: white; /* Color of the text in the button */
  border: none; /* Remove the border on the button */
  border-radius: 10px; /* Round the corners of the button */
  cursor: pointer; /* Change cursor when hovering */
  width: 40px; /* Width of button */
  height: 40px; /* Height of button */
  display: flex; /* Set up a flexible layout in the button */
  align-items: center; /* Center the content in the button */
  justify-content: center;
}

.navButtonStats img {
  width: 100%;
  height: 100%;
}

.deviceStatsContainer{
  max-height: 250px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(35, 35, 35, 0.5) transparent;
}

.deviceTable thead th {
  position: sticky;
  top: 0;
  background-color: rgba(50, 50, 50, 1);
  z-index: 1; /* Ensure the header is above the body rows */
}

.deviceTable {
  width: 100%;
  border-collapse: collapse;
}

.deviceTable th,
.deviceTable td {
  padding: 10px;
  text-align: left;
  border: 1px solid white;
}

.deviceTable th {
  background-color: rgba(35, 35, 35, 0.5);
}

.searchInput {
  width: 100%;
  padding: 20px;
  font-size: 20px;
  margin-bottom: 16px;
  background-color: rgba(35, 35, 35, 0.5); /* Block color */
  color: white;
  border-radius: 50px;
  border: none;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.5);
  outline: none; /* Removes the outline */
  height: 40px;
}

.searchInput::placeholder {
  color: rgb(180, 180, 180); /* Set the placeholder text color */
}

.dropdown {
  position: relative;
  width: 150px;
  cursor: pointer;
}

.dropdown-toggle {
  background-color: rgba(40, 40, 40, 0.5);
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  font-size: 16px;
}

.dropdown-list {
  background-color: rgb(40, 40, 40);
  position: absolute;
  top: 100%;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 5px;
  margin-top: 5px;
  z-index: 10;
}

.dropdown-item {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.dropdown-item:last-child {
  border-bottom: none;
}

.dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.arrow {
  font-size: 16px;
}

/* Bottom Section - Stats */
.bottomSectionStats {
  display: flex;
  justify-content: left;
  margin-top: 20px;
  align-items: center;
}

.bottomSectionStats p {
  font-size: 20px;
}

/* Bottom Data Layout */
.bottomDataContainer {
  display: flex;
  justify-content: space-between; /* Align the left and right columns */
  gap: 20px; /* Add space between the two columns */
  margin-top: 20px;
}

.leftColumn,
.rightColumn {
  width: 48%; /* Make each column take 48% of the available width */
}

.dataRow {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  font-size: 16px;
}

.dataRow span:nth-child(1) {
  font-weight: bold;
}

.dataRow span:nth-child(2) {
  color: lightgray; /* Make the values less prominent */
}

h3 {
  margin-bottom: 10px;
}

  .leftColumn,
  .rightColumn {
    width: 100%;
    background-color: rgba(35, 35, 35, 0.5);
    padding: 10px;
    border-radius: 10px; /* Make each column take full width on smaller screens */
  }

