.mainStats {
    position: fixed; /* keep the page content in place */
    background-color: rgba(105, 105, 105, 0.5); /* colour of the main element */
    border-bottom-right-radius: 25px; /* add radius to the bottom and top right corners */
    border-top-right-radius: 25px;
    padding: 40px; /* padding inside the main element */
    margin-top: 3vw; /* margin on the top and left of the main element */
    margin-left: 26vw;
    color: rgb(255, 255, 255); /* text colour */
    border-top: 2px solid rgba(240, 240, 240, 0.5); /* border on the top, bottom and right of the main element */
    border-bottom: 2px solid rgba(240, 240, 240, 0.5);
    border-right: 2px solid rgba(240, 240, 240, 0.5);
    width: 71vw; /* width of the main element */
    height: 85vh; /* height of the main element */
  }

  .statsHeader {
    display: flex; /* set up a flexible layout in the header */
    justify-content: space-between; /* even spacing between elements */
    margin-bottom: 10px; /* margin at the bottom of the header */
  }
  
  .navButtonStats {
    background-color: rgba(255, 255, 255, 0.2); /* colour of the button */
    color: white; /* colour of the text in the button */
    border: none; /* remove the border on the button */
    border-radius: 10px; /* round the corners of the button */
    cursor: pointer; /* change cursor when hovering */
    width: 40px; /* width of button */
    height: 40px; /* height of button */
    display: flex; /* set up a flexible layout in the button */
    align-items: center; /* centre the content in the button */
    justify-content: center;
  }

  .navButtonStats img {
    width: 100%;
    height: 100%;
  }

  .deviceTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  .deviceTable th, .deviceTable td {
    padding: 10px;
    text-align: left;
    border: 1px solid white;
  }
  
  .deviceTable th {
    background-color:rgba(35, 35, 35, 0.5);
  }

  .searchInput {
    width: 100%;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 16px;
    background-color: rgba(35, 35, 35, 0.5); /* block colour */
    color: white;
    border-radius: 50px;
    border: none;
    box-shadow:inset 0px 0px 4px rgba(0, 0, 0, 0.5);
    outline: none; /* Removes the outline */
    height: 40px
  }
  
  .searchInput::placeholder {
    color: rgb(180, 180, 180); /* Set the placeholder text color */
  }

  .dropdown {
    position: relative;
    width: 150px;
    cursor: pointer;
  }
  
  .dropdown-toggle {
    background-color: rgba(40, 40, 40, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    font-size: 16px;
  }
  
  .dropdown-list {
    background-color: rgb(40, 40, 40);
    position: absolute;
    top: 100%;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    border-radius: 5px;
    margin-top: 5px;
    z-index: 10;
  }
  
  .dropdown-item {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .dropdown-item:last-child {
    border-bottom: none;
  }
  
  .dropdown-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .arrow {
    font-size: 16px;
  }

  .bottomSectionStats{
    display: flex;
    justify-content: left;
    margin-top: 20px;
    align-items: center;
  }

  .bottomSectionStats p{
    font-size: 20px;
  }