.mainUsers {
  position: fixed;
  background-color: rgba(105, 105, 105, 0.5);
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  padding: 40px;
  margin-top: 3vw;
  margin-left: 26vw;
  color: rgb(255, 255, 255);
  border-top: 2px solid rgba(240, 240, 240, 0.5);
  border-bottom: 2px solid rgba(240, 240, 240, 0.5);
  border-right: 2px solid rgba(240, 240, 240, 0.5);
  width: 71vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
}

.headerUsers {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.navButtonUsers {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navButtonUsers:hover {
  background-color: rgba(255, 255, 255, 0.4); /* Slightly lighter on hover */
}

.navButtonUsers img {
  width: 100%;
  height: 100%;
}

.usersTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  text-align: center;
}

.searchInput {
  width: 100%;
  padding: 20px;
  font-size: 20px;
  margin-bottom: 16px;
  background-color: rgba(35, 35, 35, 0.5);
  color: white;
  border-radius: 50px;
  border: none;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.5);
  outline: none;
  height: 40px;
}

.searchInput::placeholder {
  color: rgb(180, 180, 180);
}

/* Updated to make usersList flexible */
.usersList {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Makes the user list take up the remaining space */
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(35, 35, 35, 0.5) transparent;
}

.userItem {
  background-color: rgba(35, 35, 35, 0.5);
  padding: 8px;
  padding-left: 20px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px; /* Fixed height for each user item */
  width: 100%;
  margin-bottom: 2px;
}

.topBlockUser {
  border-radius: 10px 10px 0 0;
}

.bottomBlockUser {
  border-radius: 0 0 10px 10px;
}

.username {
  padding-right: 400px;
}

.roleSelectWrapper {
  position: relative;
  width: 150px;
  cursor: pointer;
}

.roleSelect {
  background-color: rgba(40, 40, 40, 0.5);
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 16px;
}

.arrow {
  font-size: 16px;
}

.customDropdown {
  background-color: rgb(40, 40, 40);
  position: absolute;
  top: 100%;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 5px;
  margin-top: 5px;
  z-index: 10;
}

.dropdownOption {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.dropdownOption:last-child {
  border-bottom: none;
}

.dropdownOption:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.separatorLine {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 16px;
}
