.sidebar {
    position: fixed; /* keeps the sidebar in place */
    left: 3vw; /* small margin from left */
    top: 3vw; /* small margin from top */
    width: 23vw; /* width of the sidebar */
    height: 85vh; /* height of the sidebar */
    background-color: rgba(45, 45, 45, 0.5); /* Dark grey with transparency */
    padding: 10px;
    border-radius: 25px 0 0 25px; /* Rounded top-left & bottom-left corners */
    
    display: flex;
    flex-direction: column; /* Stack items vertically */
    
    border-Top: 2px solid rgba(240, 240, 240, 0.5); /* add border the the top */
    border-Bottom: 2px solid rgba(240, 240, 240, 0.5); /* add border to the bottom */
    border-Left: 2px solid rgba(240, 240, 240, 0.5); /* add border to the left */
  }
  
  .sidebar-links {
    list-style: none; /* remove any styles on the links */
  }
  
  .sidebar-links li {
    margin: 15px 0; /* add a verticle margin and a horixontal margin */
  }
  
  .sidebar-links li a {
    color: white; /* text colour white */
    text-decoration: none; /* removing any decoration from the text */
    padding: 10px; /* add a padding of 10px to every link in the sidebar */
    display: block; /* link takes up width of the sidebar */
    border-radius: 10px; /* border radius to the links */
  }
  
  .sidebar-links li a:hover {
    background: rgba(255, 255, 255, 0.3); /* background colour and opacity of the links when hovering over them */
  }
  
  .sidebar-links li a.active {
    background: rgba(255, 255, 255, 0.2); /* background colout and opacity of the active link */
  }
  
  .sidebar-bottom {
    margin-top: auto; /* pushes the bottom links to the bottom */
  }

  .sidebar-top {
    margin-top: 50px; /* margin at the top of the top links */
  }
  